body {
    margin:0;
}


#Landing{
    height: 650px;
    background-image: url("../images/landingpage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button_section{
    position: relative;
      
  }

  .sub_title_container{
    position: relative;
  }
  .sub_title{
      text-align: center;
      color: #fff;
      letter-spacing: 0.05em;
      padding-top: 5%;
      font: bold 3em/1.4 'Open Sans', arial, sans-serif;
      width: 400px;
      height: 350px;
      position: absolute;
      top: 50%;
      left: 37%;
     margin: -25px 0 0 -25px;
     
  }

  .start_button{
      background-color: transparent;
      border-radius: 10px;
      letter-spacing: 0.05em;
      color: #FFF;
      background-color:#2575c0 ;
      font-family: 'Open Sans', arial, sans-serif;
      letter-spacing: 0.05em;
      font-size: 18px;
      font-weight: bold;
      border:transparent;
      padding: 0.1em 1em;
      margin: 25em 0em;
      width: 300px;
      height: 50px;
      position: absolute;
      top: 35%;
      left: 40%;
      transition: 0.2s;

    }    

    
    
    