body {
    margin:0;
}


#Landing{
    height: 650px;
    background-image: url("../images/landingpage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button_section{
      width: 18%;
      margin: 0 41%;
  }

  .sub_title{
      text-align: center;
      color: #fff;
      padding-top: 5%;
      font-size: x-large;
      font-weight: bold;
  }

  .start_button{
      width: 100%;
      border-radius: 10px;
      background-color: #3377B6;
      padding: 1.5em 3em;
      margin: 30em 0em;
      cursor: pointer;
  }