body{
  background-color: #F4F2FB;
}
#playlist{
  height: 500px;
  display: flex;
}

.playlist_list{
  display:inline-block;
  height: 400px;
  background-color: #DDD9F9;
  width: 20%;
  margin: 3em 2em 3em 4em; 
  border-radius: 15px;
  flex-shrink: 0;
}
.playlist_list h3{  
color:#A996AB;
text-align: center;
margin: 25px 0px 0px 0px;
font:'Poppins', arial, sans-serif;
letter-spacing: 0.07em;  
font-size: 1.5em;
font-weight: 800;
  }



.music_ul{
  padding: 1em 1em;
  display:table-cell;
  list-style: none;
  position: relative;
  left: 4%;
  }

.cards {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 2rem;
  margin: 1rem 5vw;
  padding: 0;
  list-style-type: none;
  overflow: scroll;
}

.music_ul li{
  color: #516A6A;
  padding: 0.6em 1em;
  border-radius: 10px ;
  margin: 15px;
  width: 100%;
  font: 12px 'Open Sans', arial, sans-serif;
  border: 1px solid #C0B1B1;
  text-align: center;
  letter-spacing:0.15em ;
}

.next_song_list{
  display:flex;
  flex-direction: column;
  height: 450px;
  background-color: #DDD9F9;
  width: 65%;
  margin: 2.5em 3em;
  border-radius: 15px;
  flex-shrink: 0;
}

.next_song_title{
  color: #A996AB;
  text-align: center;
  font:'Poppins', arial, sans-serif;
  letter-spacing: 0.07em;  
  font-size: 2.5em;
  font-weight: 800;
  }

.music_player{
  display:block;
  height: 80px;
  background-color: #A19CAC;
  width: 70%;
  margin: 1em 10% 2em 20%;
  border-radius: 15px;
  flex-shrink: 0;
}

@media (max-width: 998px){

  #playlist{
    height: 650px;    
  }

  .music_ul{
    width:100%;
  }

  .music_ul li{
    width:100%;
    margin-left: 2em;
  }
  

.playlist_list{  
  width: 25%; 
  height: 500px; 
  margin: 2em 2em 3em 4em; 
}

.next_song_list{ 
  height: 500px;  
  width: 50%;
  margin: 2em 3em;  
}

.cards{
  margin-left: 3em;
}

.music_player{
  margin: 0em 10% 3em 20%;
}

}

@media (max-width: 568px){

  #playlist{
    display: block;
    height: 1150px;    
  }

.playlist_list{  
  width: 50%; 
  height: 500px; 
  margin: 2em 2em 3em 4em; 
}

.next_song_list{ 
  height: 410px;  
  width: 80%;
  margin: 2em 3em;  
}

.cards{
  margin-left: 3em;
}

.music_player{
  margin: 0em 5% 3em 12%;
}

}